.first-view {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  @include sp {
    height: 90vh;
  }
}

.fv-left {
  width: 46%;
  position: relative;
  letter-spacing: 3.8px;
  .fv-wrap {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 65px + 128px + 48px;
    @include tab {
      flex-direction: column-reverse;
    }
    @include sp {
      width: 100%;
      height: 15vh;
    }
    h2 {
      text-align: center;
      &:first-child {
        font: normal normal normal 3.3rem/65px Hiragino Mincho Pro;
        }
      &:nth-child(2) {
        font: normal normal normal 3.5rem/128px Zapfino;
        }
      @include tab {
        &:first-child {
          font: normal normal normal 3.1vw/65px Hiragino Mincho Pro;
          }
        &:nth-child(2) {
          font: normal normal normal 3.4vw/128px Zapfino;
          }
      }
      @include sp {
        &:first-child {
          font: normal normal normal 6.2vw/65px Hiragino Mincho Pro;
          letter-spacing: 0.23rem;
          }
        &:nth-child(2) {
          font: normal normal normal 7.5vw/128px Zapfino;
          letter-spacing: 0.28rem;
          }
      }
      }
    }
    @include sp {
      width: 100%;
      color: white;
      text-shadow: 0px 3px 16px #000000;
      background-image: url(../img/profile1.JPG);
      background-size: cover;
      background-position: center center;
      }
  }

.fv-right {
  background-image: url(../img/profile1.JPG);
  background-size: cover;
  background-position: center center;
  width: 54%;
  @include sp {
    display: none;
  }
}